<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="tech.devcrazelu.device_media">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
</manifest>
